{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block body %}

<div class="container">
    <h1>Online Shopping Mart</h1>
    <p>An online shopping mart, also known as an online marketplace or e-commerce platform, is a virtual store where customers can browse and purchase products or services over the internet. These platforms often offer a wide range of products from various sellers, providing customers with convenience, choice, and often competitive pricing. Users can typically create accounts, add items to a virtual shopping cart, and securely complete transactions using various payment methods. Online shopping marts may also feature reviews, ratings, and recommendations to help customers make informed purchasing decisions.</p>
    
    <h2>Contact Us</h2>
    <p>Email: <a href="mailto:stepsmart@gmail.com">leonamart@gmail.com</a></p>
    <p>Phone: <a href="tel:+1 999999999">+1 9999999999</a></p>
    <p>Contact us via our <a href="/contact">Contact Page</a></p>
</div>
{% endblock body %}

